/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* 추후 참고 자료 */


/* 전체적인 폰트스타일 변경 가능 */
.App{
  font-family:'Times New Roman';
}


.product-container {
  display: flex;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  
  
}
.product-container div{
  width: 30%;
  text-align: center;
}

@media screen and (max-width:500px){
  .product-container{
      align-items: center;
      flex-direction: column;
  }        
  
   .product-container div{
      width: 10%;
  }      
}

.product-content {
  padding: 10px;
}

.product-container i {
background-color: burlywood;
width: 100px;
height: 100px;
border-radius: 50px;
padding-top: 25px;
box-sizing: border-box;
color: aliceblue;
}

.shop-bg {
  background-color: #eee;
  padding: 20px;
}

.shop-container {
  display: flex;
  width: 90%;
  margin: auto;
}

.shop-image {
  width: 33%;
  padding: 10px;
}

.shop-image img{
 display: block;
}

.shop-image img{
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.3);
/*    투명방식*/
  opacity: 0;
  transition: all 1s;
  transition-timing-function: cubic-beziercubic-bezier()
}
.overlay:hover{
  opacity: 1;
}


.overlay-half{
  margin-top:50%; 
  position: absolute;
  width: 100%;
  height: 50%;
  background:rgba(0,0,0,0.3);
/*    투명방식*/
  opacity: 0;
  transition: all 1s;
  text-align: center;
}
.overlay-half:hover{
  opacity: 1;
}

.nav-container {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 10px;
  margin-top: 0px; 
  background-color: grey;
  color: black;
  font-size: 20px;
}

.nav-item {
  margin: 10px;
}

.nav-flex{
  flex-grow: 1;
}

.mainpage{
  width: 100%;
  /* border: 1px solid red; */

}

.footer-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 10px;
  background-color: grey;
  color: black;
  font-size: 15px;
}

.footer-item {
  margin: 30px;
}

.mainpage-container{
  /* border: 1px solid black; */
  padding: 20px;
}

.mainpage-title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.mainpage-content{
  text-align: center;
}

.mainpage-test-btn{
  text-align: center;
  font-size:30px;
  cursor: pointer;
}

.mainpage-test{
  text-align: center;
  padding: 30px;
}

.metapage{
  width: 100%;
  height: 500px;
  /* border: 1px solid blue; */
  margin-bottom: 0px;
  background-color: #eee;
  
}

.metapage-test-container{
  padding: 1em;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.metapage-test-title{
  text-align: center;

}

.metapage-test-time{
  font-size: 40px;
}

.metapage-test-card{
  width: 200px;
  height: 100px;
  background-color: white; 
  display: flex;
  align-items: center;
  justify-content: center;

}

