.sign-page{
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(0, 0, 0, 0.5);  */
}
  .sign-form{
    margin-top:10px;
    margin-bottom:3px;
  }
  .sign-page-container{
    background-color: white;
    width: 30vw;
    height: 35vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 30px;
    padding: 20px 5px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.205) ;
    position: relative;
  }
  
  .signup-page-container{
    background-color: white;
    /* border: 1px solid #000; */
    width: 30vw;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 30px;
    padding: 20px 5px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.205) ;
    position: relative;
  }


  .sign-btn {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 15px 25px;
    cursor: pointer;
  }
  
  .sign-btn:hover {
    background-color: #222;
    color: #fff;
    transition: 0.5s;
  }

  .margin{
    margin-top: 30px;
  }

  .error-content{
    width: 300px;
    margin:50px;
  }