.metapage{
    width: 100vw;
    height: 90vh;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #eee;
}
  
  .metapage-test-container{
    padding: 1em;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .metapage-test-title{
    font-size: 3vh;
  }

  .metapage-test-time{
    font-size: 40px;
  }
  
  .metapage-test-card{
    width: 200px;
    height: 100px;
    background-color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .modal-metatest{
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); 
  }
  .sign-form{
    margin-top:10px;
    margin-bottom:3px;
  }
  .modal-metatest-container{
    background-color: white;
    width: 70vw;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 30px;
    padding: 20px 5px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.205) ;
    /* position: relative; */
  }
  
  .signup-page-container{
    background-color: white;
    /* border: 1px solid #000; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 30px;
    padding: 20px 5px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.205) ;
  }

  .modal-metatest-container-card{
    padding:0.2em;
    background-color: tomato;
    margin-top: 2vh;
    margin-bottom: 10vh;
    width: 30vw;
    height: 20vh;
    text-align: center;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.205);
    border-radius: 5px;
  }

  .modal-metatest-container-second{
    font-size: 3em;
    margin-bottom: 15vh
  }

  .modal-metatest-container-btn{
    font-size: 2em;
  }

  .card-font{
    text-align: center;
    margin-top: 8vh;
    font-family: 'Times New Roman';
    font-size: 5em;
  }

  .modal-metatest-answer{
    margin-bottom:30px;

  }

  .modal-metatest-answer input{
    padding : 10px;
    font-size : 16px;
    border-radius : 5px;
    width : 80%;
    border : 1px solid grey;
  }
  .modal-metatest-answer button{
    display : block;
    margin : auto;
    margin-top : 10px;
  }