/*! modal !*/
.modal-metatest{
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5); 
}

.modal-metatest-container{
  background-color: white;
  width: 800px;
  height: 600px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
  padding: 20px 5px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.205) ;
}
h2 {
  color: var(--main-color);
}

.signup-page-container{
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
  padding: 20px 5px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.205) ;
}

.modal-metatest-container-card{
  padding:0.2em;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 2vh;
  margin-bottom: 5vh;
  width: 400px;
  height: 150px;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.205);
  border-radius: 10px;
}

/* .modal-metatest-container-second{
  font-size: 3em;
  margin-bottom: 15vh
} */

.modal-metatest-container-btn{
  font-size: 27px;
  font-weight: bold;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: var(--main-color);
}
.modal-metatest-container-btn:hover {
  border: 2px solid #222;
  background-color: #222;
  color: #fff;
  transition: 0.5s;
}

.card-font{
  text-align: center;
  margin-top: 8vh;
  font-family: 'Times New Roman';
  font-size: 5em;
}

.modal-metatest-answer{
  margin-bottom:30px;
  border: 1px solid #000;
}

.modal-metatest-answer input{
  padding : 10px;
  font-size : 16px;
  border-radius : 5px;
  width : 80%;
  border : 1px solid grey;
}
.modal-metatest-answer button{
  display : block;
  margin : auto;
  margin-top : 10px;
}

.flexBox{
  display: flex;
  justify-content: space-between;
  padding: 2px 2px 2px 2px;
}

.flexBox p{
  margin-top :10px;
  margin-left :10px;
}

/* modal */
.modal-metatest-container-answer {
  background-color: white;
  width: 800px;
  height: 600px;
  border-radius: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
  padding: 20px 5px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.205) ;
}

.modal-metatest-box{
  width: 700px;
  justify-content: start;
}
.modal-metatest-content {
  padding: 20px;
}
.modal-metatest-content span {
  display: inline-block;
  width: 50px;
  margin-left: 20px;
}
.modal-metatest-content.score {
  padding: 0px;
}
.modal-metatest-content.comment {
  margin-bottom: 60px;
}
.modal-metatest-content dd {
  padding: 20px;
  font-size: 30px;
}
.modal-metatest-input {
  border: none;
  border-bottom: 2px solid #999;
  outline: none;
  padding: 10px;
}

.metatest-input-btn{
  font-family: 'UhBeeKeongKeong';
  border: none;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px 20px;
  /* margin-left: 10px; */
}
.metatest-input-btn:hover {
  background-color: var(--main-color);
  color: #fff;
  transition: 0.2s;
}

.faspinner {
  font-size: 40px;
}

.modal-metatest-list {
  width: 700px;
  height: 230px;
  padding-left: 0;
  overflow: auto;
}
.modal-metatest-title {
  padding: 10px 0;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 15px;
}

.modal-metatest-item {
  padding: 0;
  text-align: center;
}


@media screen and (max-width: 412px) {
  .modal-metatest-container{
    width: 350px;
    height: 750px;
  }

  .modal-metatest-container-card{
    width: 300px;
    height: 200px;
  }
  .modal-metatest-container-answer{
    width: 350px;
    height: 750px;
  }
  
  .modal-metatest-title{
    width: 300px;
  }
  .modal-metatest-list{
    width: 700px;
    height: 360px;
    padding-left: 0;
    overflow: auto;
  }
  h2{
    font-size: 1.2em;
  }

}